*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;

}
.parent-one{
    display: flex;
    
    padding: 50px;
    margin-bottom: 20px;
    
}
.spiderman{
    color: salmon;
}
h1{
    font-size: 40px;
}
h3{
    font-size: 20px;
    
    color: salmon;
}
.hireme-btn{
    margin: 20px auto;
    padding: 10px 30px;
    background-image: linear-gradient(salmon, tomato);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px gray;
    

}
.hireme-btn a{
    text-decoration: none;
    color: white;

}
.top-image img{
    width: 450px;
}
.welcome{
    margin: 20px;
    padding: 20px;
}
.top-image{
    margin: 0px 20px;
    padding: 20px;
}
.parent-two{
    display: flex;
    justify-content: space-around;
   margin-right: 0 auto;

}
.first{
    box-shadow: 10px 10px 10px 10px gray;
     width: 30%;

   
} 
     
.second{
    box-shadow: 10px 10px 10px 10px gray;
    width: 30%;
}

.third{
    box-shadow: 10px 10px 10px 10px gray;
    width: 30%;
    
}
.onehtml img{
    width: 100%;
}
.paddingadd{
    padding: 20px;
}
.header{
    margin-bottom: 40px;
}
.experience{
    color: salmon;
    padding-left: 20px;
    margin: 10px;
}
.details{
    background-image: linear-gradient(salmon, tomato);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 3px;
}
.details:hover{
    background-color: salmon;
    
}
.footer{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 70px;
}